In [1]:
import numpy as np
import pandas as pd
import requests
import json
import pickle

In [5]:
#export data to picke file after replacing Ids with its text
EXPORT_PATH = 'fetched_dialect_dataset.pkl'

In [4]:
dataset = pd.read_csv('dialect_dataset.csv')

In [4]:
dataset.head()

                    id dialect
0  1175358310087892992      IQ
1  1175416117793349632      IQ
2  1175450108898565888      IQ
3  1175471073770573824      IQ
4  1175496913145217024      IQ

In [52]:
#dataset dimensions
dataset.shape

(458197, 2)

In [110]:
#call api request that must not exceed 1000

def get_text(api_address,request_body,limit = 1000):
    
    """
    Function to get the responses of api requests and storing them to a list 
    
    Parameters
      * api_address (string): address of post request
      * request_body (list): a list of IDs
      * limit (INT): Size of the list containing of IDs that are sent
      
    Return: (list): a list containing texts of all IDs
    """
    
    #number of ids
    ids_num = len(request_body)
    responses_list = []
    start = 0

    #add a constant to the length to get the rest of ids in the list thar are less than 1000
    const = 1001
    end = ids_num + const

    for i in range(limit,end,limit):

        json_data = requests.post(api_address, json.dumps(request_body[start:start+limit])).json()
        response = list(json_data.values())
        responses_list += response

        start = i
        

    return responses_list

In [115]:
#get a list from ids
#convert dtype into strings
list_of_ids = dataset['id'].astype(str).to_list()

In [116]:
api_address = 'https://recruitment.aimtechnologies.co/ai-tasks'

texts = get_text(api_address,list_of_ids)

In [119]:
dataset['text'] = texts

In [134]:
dataset=dataset.reindex(columns=['text','dialect'])

In [135]:
dataset.head()

                                                text dialect
0   @Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .      IQ
1  @7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...      IQ
2                    @KanaanRema مبين من كلامه خليجي      IQ
3         @HAIDER76128900 يسلملي مرورك وروحك الحلوه💐      IQ
4                 @hmo2406 وين هل الغيبه  اخ محمد 🌸🌺      IQ

In [6]:
dataset.to_pickle(EXPORT_PATH)